# FastAPI Configurations
HOST=127.0.0.1
PORT=8000
DEBUG=True

# Firebase Credentials Setup
# You can place the path to your Firebase service account JSON key file here:
FIREBASE_CREDENTIALS_PATH=app/firebase-credentials.json
# Alternatively, set to "env" and parse credentials from FIREBASE_CREDENTIALS_JSON:
# FIREBASE_CREDENTIALS_PATH=env
# FIREBASE_CREDENTIALS_JSON={"type": "service_account", ...}
